:root {
    --primary-color: #248503;
    --darker-shade: #1E6B03;
    --lighter-shade: #4CAF50;
    --secondary-color: #FFC107;
    --accent-color: #E91E63;
    --translucent: rgba(66, 255, 3, 0.3);

  }
  

.body {
    background-color: #000;
    background-image: radial-gradient(circle at center, #00ff00, #f8f8f8);
    animation: glow 5s infinite alternate;
}



.img-circle {
    border-radius: 50%;
    width: 180px; 
    height: 180px; 
    object-fit: cover;
  }

  .border-2 {
    border: 8px solid var(--translucent);
  }

  .border-0 {
    border: 0px;
  }

  .fst-italic {
    font-style: italic;
  }

  .bg-green-translucent {
    background-color: rgba(66, 255, 3, 0.3);

    
  }

  .twmc--btn--map-conference2 {
    background-color: rgba(66, 255, 3, 0.3);
    color: #333;
    border:#333
  }

  .hero-text {
    font-size: 1em; /* Increased font size */
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #000; /* Cursor effect */
    
  }


  .vh-100{
    height: 100vh;

  }

  .center-everything {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fuzzy-bg-gradient {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
      linear-gradient(315deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)),
      linear-gradient(to right, rgb(0, 122, 204, 0.3), white, rgb(255, 160, 0, .3)),
      linear-gradient(to bottom, rgb(255, 160, 0, .3), white, rgba(66, 255, 3, 0.3));
  }

  .fuzzy-bg-gradient-backwards {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
      linear-gradient(315deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)),
      linear-gradient(to right, rgb(0, 122, 204, 0.3), white, rgb(255, 160, 0, .3)),
      linear-gradient(to top, rgb(255, 160, 0, .3), white, rgba(66, 255, 3, 0.3));
  }
  

  .twitter-icon-container {
    margin-left: 10px; /* Adjust the value as needed */
}


.grid-4 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - 1rem), 1fr));
}

@media (max-width: 992px) {
  .grid-4{
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
  }
}

@media (max-width: 576px) {
  .grid-4{
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
  }
}

.grid-3{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.33333333% - 1rem), 1fr));
}

@media (max-width: 992px) {
  /* .grid-3{
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
  } */
  .grid-3{
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
}

@media (max-width: 576px) {
  .grid-3{
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.grid-2{
      display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
}

@media (max-width: 991px) {
  .grid-2  {      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
  }
  .vh-0 {
    display: none;
  
  }
}

@media (max-width: 576px) {
  .grid-2 {
              grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .vh-0 {
    display: none;
  
  }
}


.vh-0 {
  max-height: 0;
}

.nudge-down{
  position: relative;
  top: 8px;
}

._grid-1x3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;  
}

@media (max-width: 576px) {
  ._grid-1x3 {
    grid-template-columns: 1fr;  
  }
}
