/* UTILITIES */
      /* Refferences
      Orange1: #D7810F

      */
      :root {
        --color-stew25-orange1: #F2D0A6;
        --color-stew25-orange2: #b35400;
        --color-stew25-orange-dark: #a03a00;
        --color-stew25-orange-dark2: #403426;
        --color-stew25-orange-dark3: #A23902;
      }


      .cuff1 {
        border-bottom: 30px solid var(--color-stew25-orange-dark);
      }

      .cuff2 {
        border-top: 30px solid var(--color-stew25-orange-dark);
      }

      /* Will be deleted */
      .line-color1 {
        border-bottom: 10px solid #F1D0A6;
        width: 50%;
        max-width: 700px;
        margin: 2.5rem auto 1.5rem;
      }

      .line-color2 {
        border-bottom: 10px solid #F1D0A6;
        width: 50%;
        max-width: 700px;
        margin: 1.5rem auto 1.75rem;
      }


      
      /* END OF UTILITIES */

      /* TYPOGRAPHY */
      .stewardship25-text {
        color: var(--color-stew25-orange-dark2) !important; 
        line-height: 1.4;
      }

      .stewardship25-text-wht {
        color: #fff;
        line-height: 1.4;
      }

      .stewardship25-text-darkorange {
          color: var(--color-stew25-orange-dark) !important;
      }

      .stewardship25-intro-text {
        line-height: 1.5;
        color: #582c00 !important;
      }
      
      @media only screen and (max-width: 900px) {
        .stewardship25-section-subtitle {
          font-size: 32px;
        }
      }

      .stewardship25-subtitle {
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
        margin-top: 21px !important;
        margin-bottom: 15px !important;
      }

      .stewardship25-stat-text {
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 20px !important;
        font-weight: 400 !important;
        line-height: 1.36;
        margin-bottom: 11px !important;
      }

      .stewardship25-verse {
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 20px !important;
        font-weight: 700 !important;
        line-height: 1.36;
        font-style: italic;
        
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      .stewardship25-verse-sm {
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 18px !important;
        font-weight: 700 !important;
        line-height: 1.36;
        
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0 !important;
      }

      @media only screen and (max-width: 992px) {
        .stewardship25-stat-text,
        .stewardship25-verse {
          font-size: 18px !important;
        }

        .stewardship25-verse-sm {
          font-size: 16px !important;
        }
      }

      @media only screen and (max-width: 768px) {
        .stewardship25-stat-text,
        .stewardship25-verse {
          font-size: 17px !important;
          width: 96%;
          margin-left: auto;
          margin-right: auto;
        }

        .stewardship25-verse-sm {
          font-size: 15px !important;
        }

        .stewardship25-subtitle {
          font-size: 26px !important;
        }

      }

      .stewardship25-h2 {
        font-size: 40px;
        color: var(--color-stew25-orange2);
        font-weight: 900;
      }


      /* END OF TYPOGRAPHY */

      /* HERO */
      #twmc-stewardship25-hero {
          background-color: #D7810F;
          background-image: url("https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_stewardship2025/GEN_MakingRoom_FeatureBanner+copy.jpg");
          text-align: center;
          background-position: bottom center;
          background-size: cover;

          height: 800px;
          padding: 4rem 0 4.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      .twmc-featbanner--stewardship25-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      .twmc-featbanner--stewardship25-wrapper > img {
        max-width: 60%;
        height: auto;
      }


      @media only screen and (max-width: 1200px) {
        .twmc-featbanner--stewardship25-wrapper > img {
            max-width: 70%;
        }
      }

      @media only screen and (max-width: 992px) {
        #twmc-stewardship25-hero {
          background-image: url("https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_stewardship2025/GEN_MakingRoom_FeatureBanner-MOBILE+copy.jpg");
        }

        .twmc-featbanner--stewardship25-wrapper > img {
            max-width: 80%;
        }
      }

      @media only screen and (max-width: 768px) {
        #twmc-stewardship25-hero {
            height: 600px;
        }

        .twmc-featbanner--stewardship25-wrapper > img {
            max-width: 70%;
        }
      }

      @media only screen and (max-width: 576px) {
        .twmc-featbanner--stewardship25-wrapper > img {
            max-width: 70%;
        }


        #twmc-stewardship25-hero {
            height: 500px;
        }
      }

      @media only screen and (max-width: 400px) {
        .twmc-featbanner--stewardship25-wrapper > img {
            max-width: 80%;
        }

        #twmc-stewardship25-hero {
            height: 500px;
            padding: 4rem 0;
        }
      }
      /* END OF HERO */

      /* BUTTON */
      .btn-stewardship25 {
        background-color: var(--color-stew25-orange1);
        color: var(--color-stew25-orange2);
        border: 2px solid var(--color-stew25-orange2);
        border-radius: 9.5px;
        padding: .6rem 1.1rem 0.6rem 1.2rem;
        font-size: .9rem;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        min-width: 205px;
        max-width: 100%;
      }

      .btn-stewardship25:hover,
      .btn-stewardship25:focus {
        background-color: rgba(242, 208, 166, 0.8);
        background-color: rgba(255, 255, 244, 0.6);
        transform: scale(1.02);
        color: var(--color-stew25-orange2);
      }

      .btn-stewardship25-outline {
        background-color: #FFFFFF;
        color: var(--color-stew25-orange2);
        border: 2px solid var(--color-stew25-orange2);
        border-radius: 9.5px;
        padding: .5rem 1.2rem;
        font-size: .8rem;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        min-width: 205px;
        max-width: 100%;
      }
      
      .btn-stewardship25-outline:hover,
      .btn-stewardship25-outline:focus {
        background-color: rgba(255, 255, 255, 0.8);
        transform: scale(1.02);
        color: var(--color-stew25-orange2);
      }
      
      @media only screen and (max-width: 992px) {
        .btn-stewardship25,
        .btn-stewardship25-outline {
            width: 200px;
            margin-top: .5rem;
        }
      }

      @media only screen and (max-width:768px) {
        .btn-stewardship25 {
            margin-top: 10px;
            width: 150px;
            max-width: 255px;
            padding: .4rem 0.7rem;
            font-size: .7rem;
        }

        .btn-stewardship25-outline {
            margin-top: 10px;
            width: 150px;
            max-width: 255px;
            font-size: .7rem;
        }
      }

      /* Button wrapper */
      .stewardship25-hero--btn-wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          gap: 2%;

          width: 90%;
          margin-left: auto;
          margin-right: auto;
      }

      @media only screen and (min-width: 1500px) {
        .stewardship25-hero--btn-wrapper {
            width: 80%;
        }
      }

      @media only screen and (max-width: 1200px) {
          .stewardship25-hero--btn-wrapper {
              width: 100%;
          }
      }

      @media only screen and (max-width: 992px) {
          .btn-stw-hero {
              width: 150px;
          }
        }

      @media only screen and (max-width:768px) {
          .stewardship25-hero--btn-wrapper {
              gap: 1%;
          }
      }

      .wrapper-btn-center {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      /* END OF BUTTON */

      /* INTRO */
      #twmc-stewardship25-intro {
        background-color: #FFFFFF;
      }

      .stewardship25-intro-wrapper,
      .stewardship25-video-wrapper {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }

      .stewardship25-video-subtitle {
        background-color: #333;
        color: #fff;
        margin-top: -1px;
        padding: 8px 15px 7px;
        text-align: right;
      }

      .stewardship25-video-subtitle > p.twmc-p {
        font-size: 0.85rem;
        letter-spacing: 1px;
      }

      @media only screen and (max-width: 768px) {
        .stewardship25-video-subtitle > p.twmc-p {
            font-size: 0.75rem;
          }
      }

      @media only screen and (max-width: 500px) {
        .stewardship25-video-subtitle {
            text-align: center;
        }
      }

      #twmc-stewardship25-intro-video {
        background-color: var(--color-stew25-orange-dark);
      }

      @media only screen and (max-width: 1500px) {
        .stewardship25-intro-wrapper,
        .stewardship25-video-wrapper {
          width: 60%;
        }
      }

      @media only screen and (max-width: 1200px) {
        .stewardship25-intro-wrapper {
          width: 70%;
        }
      }

      @media only screen and (max-width: 992px) {
        .stewardship25-intro-wrapper {
          width: 80%;
        }

        .stewardship25-video-wrapper {
          width: 70%;
        }
      }

      @media only screen and (max-width: 768px) {
        .stewardship25-intro-wrapper {
          width: 90%;
        }

        .stewardship25-video-wrapper {
          width: 80%;
        }
      }

      @media only screen and (max-width: 500px) {
        .stewardship25-video-wrapper {
          width: 90%;
        }
      }

      .stewardship25-video-style {
        box-shadow: 0 2px 20px rgb(154 136 136 / 45%);
      }
      /* END OF INTRO */

      /* STEWARDING */
      #twmc-stewardship25-stewarding {
          background-color: #E8AB44;
          background-image: url("https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_stewardship2025/Background+Texture2.png");          
          text-align: center;
          background-position: bottom center;
          background-size: cover;
      }

      #twmc-stewardship25-legacy {
          background-color: #E8AB44;
          background-image: url("https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_stewardship2025/Background+Texture2.png");          
          text-align: center;
          background-position: bottom center;
          background-size: cover;
      }

      .stewardship25-section-img {
        height: 215px;
        width: auto;
        max-width: 100%;
       
        margin-right: auto;
        margin-left: auto;
      }

      @media only screen and (max-width: 992px) {
        .stewardship25-section-img {
          height: 190px;
        }
      }

      @media only screen and (max-width: 900px) {
        .stewardship25-section-img {
          height: 160px;
        }
      }

      @media only screen and (max-width: 700px) {
        .stewardship25-section-img {
          height: 150px;
        }
      }

      @media only screen and (max-width: 576px) {
        .stewardship25-section-img {
          height: 130px;
        }
      }

      @media only screen and (max-width: 500px) {
        .stewardship25-section-img {
          height: 110px;
        }
      }

      @media only screen and (max-width: 400px) {
        .stewardship25-section-img {
          height: 100px;
        }
      }
      /* END OF STEWARDING */


      /* STATEMENT 3 */
      #twmc-stewardship25-trusting {
        background-color: #fff;
        text-align: center;
      }

      .stewardship25-stat-subtitle {
        font-weight: 800;
        color: #FFFFFF;
        letter-spacing: 1px;
        line-height: 1.3;

        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2.5rem;
      }

      @media only screen and (max-width: 992px) {
        .stewardship25-stat-subtitle {
          width: 90%;
        }
      }
      /* END OF STATEMENT 3 */


      /* STATEMENT 5 */
      #twmc-stewardship25-legacy {
          background-color: #E8AB44;
          background-image: url("https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_stewardship2025/Background+Texture2.png");
          text-align: center;
          background-position: bottom center;
          background-size: cover;
      }

      /* END OF STATEMENT 5 */

      /* FAQ */
      #twmc-stewardship25-faq {
        background: linear-gradient(#fdefde, #FFFFFF, #fdefde);
      }

      .faq-btn-wrapper > a {
        margin-left: auto;
        margin-right: auto;
      }

      @media only screen and (max-width: 768px) {
        .stewardship25-faq-wrapper {
          width: 95%;
          margin-left: auto;
          margin-right: auto;
        }
      }
      /* END OF FAQ */

      /* CTA */
      #twmc-stewardship25-cta {
        background-color: var(--color-stew25-orange-dark);
        padding: 2.7rem 0;
      }
      /* End of CTA */